<nav>
    <ul class="pager">
        <li class="disabled">
            <a href="#" arial-label="Previous">
                <span class="glyphicon glyphicon-step-backward"
                      arial-hidden="true"></span>
            </a>
        </li>
        <li class="disabled">
            <a href="#" arial-label="Previous">
                <span class="glyphicon glyphicon-backward"
                      arial-hidden="true"></span>
            </a>
        </li>
        <li class="disabled">
            <a href="#">1
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="disabled">
            <a href="#" arial-label="Previous">
                <span class="glyphicon glyphicon-forward"
                      arial-hidden="true"></span>
            </a>
        </li>
        <li class="disabled">
            <a href="#" arial-label="Previous">
                <span class="glyphicon glyphicon-step-forward"
                      arial-hidden="true"></span>
            </a>
        </li>
    </ul>
</nav>
